; supervisor config file

[unix_http_server]
file={{ supervisor_socket_file }} ; (the path to the socket file)
chmod={{ supervisor_socket_mode }} ; sockef file mode (default 0700)

[supervisord]
logfile={{ supervisor_logs_path }}/supervisord.log ; (main log file;default $CWD/supervisord.log)
pidfile={{ supervisor_pid_file }} ; (supervisord pidfile;default supervisord.pid)
childlogdir={{ supervisor_logs_path }} ; ('AUTO' child log dir, default $TEMP)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_socket_file }} ; use a unix:// URL  for a unix socket

; The [include] section can just contain the "files" setting.  This
; setting can list multiple files (separated by whitespace or
; newlines).  It can also contain wildcards.  The filenames are
; interpreted as relative to this file.  Included files *cannot*
; include files themselves.

[include]
files = {{ supervisor_config_path }}/conf.d/*.conf
